$FontPathOpenSans: "./fonts" !default;

$FontName: 'Open Sans';

$FontType-300-normal: "Light";
$FontType-300-italic: "LightItalic";
$FontType-400-normal: "Regular";
$FontType-400-italic: "Italic";
$FontType-600-normal: "Semibold";
$FontType-600-italic: "SemiboldItalic";
$FontType-700-normal: "Bold";
$FontType-700-italic: "BoldItalic";
$FontType-800-normal: "ExtraBold";
$FontType-800-italic: "ExtraBoldItalic";
